{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}
    {% block 'title' %}<title>Podcasts</title>{% endblock %}
{% endblock %}
{% block 'body' %}
<section data-bs-version="5.1" class="menu menu2 cid-tJS6tZXiPa" once="menu" id="menu02-1w">


    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                        <img src="assets/images/logo.png" style="height: 2.6rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption btn-header display-4"
                        href="{% url 'home' %}">AC7</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="me-3 mobile-profile">
                <button class="theme-btn active" aria-label="Change Theme" onclick="changeTheme()" title="Change Theme" data-theme-btn>
                    <span class="theme-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link btn-header display-4" href="{% url 'home' %}"
                            aria-expanded="false">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link btn-header display-4" href="#" id="navbarDropdownMenuLink">
                            Shows Musicais
                        </a>
                        <div class="dropdown-menu dropdown-shows shadow" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item btn-header" href="{% url 'exibir_shows' %}">Todos os shows</a>
                            <a class="dropdown-item btn-header" href="{% url 'filtrar_shows' 'itu' %}">Itu</a>
                            <a class="dropdown-item btn-header" href="{% url 'filtrar_shows' 'salto' %}">Salto</a>
                            <a class="dropdown-item btn-header" href="{% url 'filtrar_shows' 'campinas' %}">Campinas</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link btn-header display-4" href="{% url 'publicidade' %}"
                            aria-expanded="false">Marketing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link btn-header display-4"
                            href="{% url 'home' %}#contacts02-9">Contato</a>
                    </li>
                    <li class="nav-item mobile-profile">
                        <a class="nav-link link btn-header btn-links"
                            href="{% url 'login' %}">{% if user.is_authenticated %}Meu perfil{% else %}Entrar{% endif %}</a>
                    </li>
                </ul>
                <div class="desktop-profile">
                    <button class="theme-btn active" aria-label="Change Theme" onclick="changeTheme()" title="Change Theme" data-theme-btn>
                        <span class="theme-icon"></span>
                    </button>
                </div>

                {% if user.is_authenticated %}
                <div class="desktop-profile">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link btn-header text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <ion-icon class="icons me-1" name="person-circle-outline"></ion-icon>
                      {{ request.user | title }}
                    </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item ps-3" href="#"><ion-icon class="icons me-1" style="margin-bottom: -5px;" name="person-outline"></ion-icon>Meu perfil</a></li>
                            <li>
                                <a class="dropdown-item ps-3" href="#">
                                    <ion-icon class="icons me-1" style="margin-bottom: -5px; margin-left: -2px;" name="lock-closed-outline"></ion-icon>Alterar senha</a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-4" href="{% url 'cadastrar_shows' %}">
                                    <ion-icon class="icons me-1" style="margin-bottom: -5px; margin-left: -10px;" name="musical-notes-outline"></ion-icon>Novo Show</a>
                            </li>
                            <li>
                                <a class="dropdown-item ps-3" href="{% url 'logout' %}">
                                    <ion-icon class="icons me-1" style="margin-bottom: -5px;" name="exit-outline"></ion-icon>Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'login' %}">
                    <button class="fs-5 me-5 ms-3 btn-header desktop-profile">Entrar</button>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header7 cid-tPVE67e4kU" id="header07-1z">




    <div class="topbg"></div>
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-5 content-head">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1">
                    <strong>Podcasts</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                    Divulgue-se, converse e divirta-se. Tudo em um só lugar!
                </p>

            </div>
        </div>

        <div class="row mt-0 justify-content-center">
            <div class="mbr-figure col-12 col-md-8"><iframe class="mbr-embedded-video"
                    src="https://www.youtube.com/embed/-BSQlJxCDcI?rel=0&amp;amp;mute=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=-BSQlJxCDcI"
                    width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features15 cid-tPVEG1qAg0" id="features015-20">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="item features-without-image col-12 col-lg-4">
                <div class="item-wrapper">
                    <div class="img-wrapper">
                        <img src="#">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-0 display-7"><strong>Estúdio profissional</strong>
                        </h4>
                        <h5 class="card-text mbr-fonts-style mt-3 display-7">
                            Utilize nosso espaço e equipamentos de alta qualidade!</h5>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-lg-4">
                <div class="item-wrapper">
                    <div class="img-wrapper">
                        <img src="#">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-0 display-7"><strong>Convidados</strong></h4>
                        <h5 class="card-text mbr-fonts-style mt-3 display-7">
                            Chame pessoas que você busca conhecer melhor para ter um bate papo!</h5>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-lg-4">
                <div class="item-wrapper">
                    <div class="img-wrapper">
                        <img src="#">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-0 display-7">
                            <strong>Popularidade</strong>
                        </h4>
                        <h5 class="card-text mbr-fonts-style mt-3 display-7">Faça proveito do que está em alta para
                            transmitir a sua mensagem!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="countdown4 cid-tPVI855fPS mbr-fullscreen mbr-parallax-background"
    id="countdown4-21">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="mbr-section-title mb-5 align-center mbr-fonts-style display-2">
                    <strong>Em breve...</strong>
                </h3>

                <div class="countdown-cont align-center mb-5">
                    <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
                    <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
                    <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3" title="Minutes"></div>
                    <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3" title="Seconds"></div>
                    <div class="countdown" data-due-date="2023/09/25"></div>
                </div>



            </div>
        </div>
    </div>
</section>

{% endblock %}